// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


body {
    background-color: rgb(255, 247, 228);
}

h1{
    font-family: "june-expt-variable";
    font-weight: 400;
    font-style: normal;
    color: #A34A23;
}

 h2, h3, h4, h5, h6{
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
    
 }

 h2{
     
     color: #ffB500 !important;
 }