/* ****************article.blade.php*************** */

.ajoutPanier {
    background-color:#ffb500;
    color: white
}

/* ****************show.blade.php*************** */

.actualiserQuantite {
    background-color:#3f3028;
    color: white
}


/* ****************validation.blade.php*************** */

.tableau, .card-header {
    background-color:#ffb500 !important;
}